{
  "tabs": [
    {
      "name": "academy.org",
      "dir": "/path/to/tab1/macroeconomics"
    },
    {
      "name": "thesis",
      "dir": "/path/to/tab2/positive statements"
    },
    {
      "name": "kubernetes",
      "dir": "/path/to/tab3/docker"
    },
    {
      "name": "python",
      "dir": "/path/to/tab4/workflows"
    }
  ]
}
